:host {
  display: flex;
  overflow: visible;

  vmc-input-field {
    min-height: 56px;
  }

  ::ng-deep {
    .mat-mdc-table {
      background-color: var(--vm-secondary-gray);
    }

    .mat-mdc-dialog-content {
      overflow: visible;
    }
  }
}

.data-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  gap: 16px;
  background-color: var(--vm-secondary-gray);
  overflow: visible;
}

.position-right {
  margin-left: auto;
}
