<div class="center-wrapper">
  <div class="content">
    <!--suppress HtmlUnknownTarget -->
    <img
      style="margin: auto"
      src="{{ (bannerLink$ | async) ?? '' }}"
      alt="Loginbanner des Vereins"
    />
    @let passwordDisabled = (passwordLoginDisabled$ | async) ?? false;
    @if (!passwordDisabled) {
      <vmc-form
        (formSubmitted)="loginClicked($event)"
        [formData]="{
          submitButtonType: 'filled',
          header: 'Anmelden',
          description: 'Bitte melde dich mit deinem Anmeldedaten an.',
          submitButton: 'Anmelden',
          submitButtonPosition: 'full',
          fields: [
            {
              label: 'Username',
              type: 'text',
              placeholder: 'z.B. max.mustermann',
              required: true,
              key: 'username',
            },
            {
              label: 'Password',
              type: 'password',
              required: true,
              key: 'password',
            },
          ],
        }"
      />
    }
    @let _providers = oauthProviders$ | async;
    @if (_providers != null && _providers.length > 0) {
      <label class="text-large">Oder anmelden mit:</label>
      <div>
        @for (provider of (oauthProviders$ | async) ?? []; track provider.providerKey) {
          <vmc-button
            [type]="'tonal'"
            [label]="provider.displayName"
            [fullWidth]="true"
            (buttonClicked)="oauthProviderClicked(provider)"
          />
        }
      </div>
    }
  </div>
</div>
