:host {
  display: block;
  height: 100%;
}

.login-page {
  display: flex;
  justify-content: center; /* Centers horizontally */
  //align-items: center;     /* Centers vertically */
  height: 100%; /* Or some defined height */
}

.login-container {
  padding: 40px;
  width: 400px;
}
