:host {
  ::ng-deep {
    .mat-mdc-table {
      background-color: var(--vm-secondary-gray);
    }

    .vm-input {
      padding-bottom: 24px;
    }
  }
}

.data-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--vm-secondary-gray);
}

.position-right {
  margin-left: auto;
}
