<vmc-toolbar [items]="items" />
<vmc-data-grid
  [dataSource]="(data$ | async) ?? []"
  [columns]="columns"
  [templates]="[
  {
      keys: ['customActions'],
      templateRef: actionTemplate,
    }
  ]"
/>


<ng-template #actionTemplate let-rowData="rowData">
  @let isEnabled = rowData?.isEnabled;
  <vmc-icon-button [iconName]="isEnabled ? 'vpn_key' : 'vpn_key_off'" (buttonClicked)="execAction(rowData, 'toggle')" />
  <vmc-icon-button [iconName]="'edit'" (buttonClicked)="execAction(rowData, 'edit')" />
  <vmc-icon-button [iconName]="'delete'" (buttonClicked)="execAction(rowData, 'delete')" />
</ng-template>
