:host {
  display: block;
  height: 100%;
  background-color: var(--vm-secondary-color-tonal);
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 2rem;
  text-align: center;
  padding: 2rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

