<vmc-input-field
  [formField]="nameField"
  [shouldInitChange]="false"
  (inputChanged)="storeChangedValue($event, roleNameKey)"
/>

@let _structure = (structure$ | async) ?? [];
<vmc-data-grid
  [columns]="columns"
  [dataSource]="_structure"
  [templates]="[
    {
      keys: [
        'permissionStart',
        'permissionRead',
        'permissionCreate',
        'permissionEdit',
        'permissionDelete',
      ],
      templateRef: permissionCheckbox,
    },
  ]"
/>

<ng-template #permissionCheckbox let-rowDataRaw="rowData" let-index="indexOfColumn">
  @let rowData = (rowDataRaw | as: RowDataType).permissionValues;
  @let permissionValue = getPermissionValue(rowData, index - 1);
  @let permissionType = permissionValue?.permissionType ?? -1;

  @let shouldBeDisabled = permissionValue === undefined;
  @let checked = !shouldBeDisabled && permissions[(permissionType ?? 0).toString()];

  <mat-checkbox
    [ngModel]="checked"
    [disabled]="shouldBeDisabled"
    (change)="storePermissionChange(permissionType ?? -1, $event.checked)"
  />
</ng-template>
