<vmc-input-field
  [formField]="nameField"
  [shouldInitChange]="false"
  (inputChanged)="storeChangedValue($event, roleNameKey)"
/>

@let _structure = (structure$ | async) ?? [];
<vmc-data-grid
  [columns]="columns"
  [dataSource]="_structure"
  [templates]="[
    {
      keys: ['permissionStart', 'permissionRead', 'permissionCreate', 'permissionEdit', 'permissionDelete'],
      templateRef: permissionCheckbox,
    },
  ]"
/>

<ng-template #permissionCheckbox let-rowDataRaw="rowData"  let-index="index">
  @let rowData = (rowDataRaw | as: RowDataType).permissionValues;

  @let permissionType = rowData[index-1]?.permissionType;
  @let shouldBeDisabled = permissionType === undefined || permissionType === null;
  @let checked = !shouldBeDisabled && permissions[permissionType.toString()];

  <mat-checkbox
    [ngModel]="checked"
    [disabled]="shouldBeDisabled"
    (change)="storePermissionChange(permissionType ?? -1, $event.checked)"
  />
</ng-template>
