<div class="step-container">
  @if (currentStep === 1) {
    <div class="flex-column" style="gap: 16px">
      <div class="data-container">
        <label class="text-normal">Notenstück Informationen</label>
        <vmc-input-field
          [formField]="titleField"
          [shouldInitChange]="false"
          (inputChanged)="storeChangedValue($event, 'title')"
        />

        <vmc-input-field
          [formField]="composerField"
          [shouldInitChange]="false"
          (inputChanged)="storeChangedValue($event, 'composer')"
        />

        <vmc-input-field
          [formField]="linkField"
          [shouldInitChange]="false"
          (inputChanged)="storeChangedValue($event, 'link')"
        />

        <div class="duration-input">
          <mat-form-field class="vm-input">
            <mat-label>Länge (MM:SS)</mat-label>
            <input
              matInput
              type="text"
              [ngModel]="durationDisplay"
              (input)="onDurationInput($event)"
              placeholder="MM:SS"
              maxlength="5"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  }


<!--  step 1 und step 2 exta-->
  @if (currentStep === 2) {
    <div class="flex-column" style="gap: 16px">

      <div class="data-container-top">
        <vmc-input-field
             [formField]="scoreField"
             [shouldInitChange]="false"
             (inputChanged)="storeChangedValue($event, 'folderId')"
             ></vmc-input-field>

      </div>

      <div class="data-container">
       <vmc-file-uploader [width]="'100%'" (filesChanged)="fileChangeEvent($event)"/>
<!-- height hier-->
<!-- Mappe raus-->

      </div>

      <div class="data-container-small">
        @let _files = files();
        @for (file of _files; track file.path){
          <div class="file-row">
            <div class="file-path">
              {{ file.path }}
            </div>

            <vmc-input-field
              [formField]="voiceField"
              [shouldInitChange]="false"
              (inputChanged)="storeChangedValue($event, 'voiceId')"
            />
          </div>
        }
      </div>
    </div>
  }
</div>

