<div class="flex-column" style="gap: 16px">
  <div style="display: flex; gap: 16px">
    <div class="data-container flex-column">
      <label class="text-normal">Stimme konfigurieren</label>
      <vmc-input-field
        [formField]="nameField"
        [shouldInitChange]="false"
        (inputChanged)="storeChangedValue($event, 'name')"
      />

      <vmc-input-field
        [formField]="instrumentField"
        [shouldInitChange]="false"
        (inputChanged)="storeChangedValue($event, 'instrumentId')"
      />

      <vmc-input-field
        [formField]="alternativeVoiceField"
        [shouldInitChange]="false"
        (inputChanged)="storeChangedValue($event, 'alternativeVoiceId')"
      />
    </div>
  </div>
</div>
