<div class="page-layout">
<vmc-toolbar [items]="items()" [useNgContentForRightside]="true">
  <vmc-input-field
    [formField]="suchleiste"
    (inputChanged)="filterInputChanged($event)">
  </vmc-input-field>
</vmc-toolbar>

<vmc-data-grid
  [dataSource]="(folderListe$ | async) ?? []"
  [columns]="column"
  [filterTerm]="filterTerm()"
  [paginator]="[5, 10, 20]"
  [templates]="[
    {
      keys: ['groupId'],
      templateRef: groupTemplate,
    },
  ]"
  [rowActions]="rowActions()"
  (clickedAction)="execAction($event)"/>

<ng-template #groupTemplate let-rowDataRaw="rowData">
  @let groups = groupsById();
  @let rowData = rowDataRaw | as: FolderType;
  {{ groups[rowData.groupId]?.name ?? 'N/A' }}
</ng-template>
</div>
