<div class="flex-column" style="gap: 16px">
  <div class="data-container flex-column">
    <label class="text-normal">Notenblatt bearbeiten</label>

    <vmc-input-field
      [formField]="(voiceField$ | async) ?? voiceFieldPlaceholder"
      [shouldInitChange]="false"
      (inputChanged)="storeChangedValue($event, 'voiceId')"
    />

    <vmc-input-field
      [formField]="nameField"
      [shouldInitChange]="false"
      (inputChanged)="storeChangedValue($event, 'name')"
    />

    <vmc-input-field
      [formField]="composerField"
      [shouldInitChange]="false"
      (inputChanged)="storeChangedValue($event, 'composer')"
    />
  </div>
</div>

