@use '@angular/material' as mat;

@import url('./variables.css');
@import url('./tailwind.css');
:root {
  --mdc-theme-primary: var(--vm-primary-color);
  --mdc-theme-secondary: var(--vm-secondary-color);
}

* {
  font-family: var(--vm-font-family), sans-serif !important;
}

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: 0,
    )
  );
}

body {
  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

vmc-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
