.full-page {
  width: 100%;
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.text-header {
  font: var(--vm-font-family);
  font-size: var(--vm-font-size__header);
  font-weight: bold;
}

.text-normal {
  font: var(--vm-font-family);
  font-size: var(--vm-font-size__normal);
}

.text-large {
  font: var(--vm-font-family);
  font-size: var(--vm-font-size__large);
}
