.full-page {
  width: 100%;
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-header {
  font: var(--font-family);
  font-size: var(--font-size__header);
  font-weight: bold;
}

.text-normal {
  font: var(--font-family);
  font-size: var(--font-size__normal);
}
