:root {
  --vm-primary-color: #366972;
  --vm-primary-color-tonal: color-mix(in srgb, var(--vm-primary-color) 15%, white);

  --vm-secondary-color: #2a8899;
  --vm-secondary-color-tonal: color-mix(in srgb, var(--vm-secondary-color) 15%, white);
  --vm-secondary-gray: color-mix(
    in srgb,
    color-mix(in srgb, var(--vm-secondary-color) 50%, #808080) 20%,
    white
  );

  --vm-error-color: #f44336;

  --vm-background-color-light: color-mix(in srgb, var(--vm-primary-color) 5%, white);

  --vm-font-family: Helvetica, Arial, sans-serif;
  --vm-font-size__normal: 1rem;
  --vm-font-size__large: 1.2rem;
  --vm-font-size__header: 2rem;

  --vm-text-color: rgb(26, 27, 31);

  --vm-iconColor-white: whitesmoke;
  --vm-iconColor-black: black;
  --vm-iconColor-green: green;
  --vm-iconColor-red: red;
  --vm-iconColor-blue: lightblue;
  --vm-iconColor-orange: orange;

  --vm-gap-small: 8px;
  --vm-gap-medium: 16px;
  --vm-gap-large: 24px;
}
